# SPDX-FileCopyrightText: 2026 shellkeep contributors
# SPDX-License-Identifier: GPL-3.0-or-later
---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  -misc-unused-parameters,
  performance-*,
  portability-*,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-misleading-indentation,
  readability-redundant-declaration,
WarningsAsErrors: ''
HeaderFilterRegex: 'include/shellkeep/.*\.h$'
FormatStyle: file
