# SPDX-FileCopyrightText: 2026 shellkeep contributors
# SPDX-License-Identifier: GPL-3.0-or-later
#
# GNOME / GTK coding style
---
BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 8
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
SortIncludes: true
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"shellkeep/'
    Priority: 1
  - Regex: '^<gtk/'
    Priority: 2
  - Regex: '^<glib'
    Priority: 3
  - Regex: '^<vte/'
    Priority: 4
  - Regex: '^<libssh/'
    Priority: 5
  - Regex: '.*'
    Priority: 10
