#!/usr/bin/make -f
# SPDX-FileCopyrightText: 2026 shellkeep contributors
# SPDX-License-Identifier: GPL-3.0-or-later

# NFR-DIST-02: .deb build rules using cargo
# NFR-DIST-07: Do NOT register as x-terminal-emulator

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/shellkeep debian/shellkeep/usr/bin/shellkeep
	install -Dm644 data/shellkeep.desktop debian/shellkeep/usr/share/applications/shellkeep.desktop
	install -Dm644 man/shellkeep.1 debian/shellkeep/usr/share/man/man1/shellkeep.1

override_dh_auto_test:
	cargo test
